<div class="meal-list-item flex-row-gt-xs flex-column-xs flex-fill equal flex-children-center">
  <!-- Category -->
  <div class="meal-type-container meal-col-1">
    {{model[insideIndex]['categoryName']}}
    <span class="meal-amount">
      <!--<a (click)="showCategoryDescr(insideIndex)"
         aria-label="Category Description"
         title="{{model[insideIndex].categoryDescription}}"
         class="logo cursor-pointer meal-logo">
        <i class="material-icons meals-amount-warning meal-info-small">
          help_outline
        </i>
      </a>-->
    </span>
  </div>
  <div class="meal-list-amount meal-col-2">
    <span class="meal-amount">
      {{model[insideIndex]['currentBalance'] | currency}}
      <a *ngIf="isWarning(model[insideIndex]['currentBalance'], model[insideIndex]['categoryName']) && model[insideIndex]['isDepositable'] === true"
         aria-label="Payment Methods and Autopay"
         title="Setup Autopay to avoid a low or negative balance"
         class="warning-icon cursor-pointer"
         routerLink="/account/payment-method">
        <i [class]="getWarnIcon(model[insideIndex]['currentBalance'])">
          warning
        </i>
      </a>
    </span>
  </div>
  <div class="text-right meal-amount-col meal-col-3">
    <div class="meal-amount text-in-Cart">
      <div *ngIf="model[insideIndex]['cartAmount'] > 0">
        <div class="pending-amount">
          <span>(</span>
          {{model[insideIndex]['cartAmount'] | currency }} in cart
          <span>)</span>
        </div>
        <span class="bonus-chip" *ngIf="model[insideIndex]['bonusAmount'] > 0">
          +{{model[insideIndex]['bonusAmount'] | currency }} Bonus
        </span>
      </div>



      <div>
        <div class="meal-amount text-in-Cart text-pending" *ngIf="model[insideIndex]['pendingBalance'] > 0">
          <div>
            <span>(</span>
            {{model[insideIndex]['pendingBalance'] | currency }} pending
            <span>)</span>
          </div>
        </div>
      </div>
      <div *ngIf="model[insideIndex]['categoryName'] != 'Bonus' && model[insideIndex]['transferPendingAmount'] == 0">
        <div *ngIf="reply" class="meal-transfer">
          <a routerLink="/transfer-fee" *ngIf="!isXferFeePaid" title="This feature allows you to transfer funds from one account to another" (click)="transfersService.openFee(model[insideIndex], insideIndex, account, loginResponse)">Request Transfer</a>
          <a routerLink="/make-transfer" *ngIf="isXferFeePaid" (click)="transfersService.requestTransfer(firstName, model[insideIndex]['categoryName'], model[insideIndex]['currentBalance'], this.account.balanceDate, outsideIndex, insideIndex, model[insideIndex]['accountBalanceID'], model[insideIndex]['categoryKey'])">Request Transfer</a>
        </div>
      </div>
    </div>
    <div class="meal-amount text-pending mobile-pad-bottom " *ngIf="model[insideIndex]['categoryName'] != 'Bonus' && model[insideIndex]['transferPendingAmount'] > 0">
      <mat-chip-list>
        <mat-chip class="pending-chip" selected>
          <!-- *ngIf="model[insideIndex]['transferPendingAmount'] > 0"-->
          (+{{model[insideIndex]['transferPendingAmount'] | currency }}) Pending Transfer
        </mat-chip>
      </mat-chip-list>
    </div>
    <!--Negative Transfer-->
    <div class="meal-amount text-pending mobile-pad-bottom" *ngIf="model[insideIndex]['transferPendingAmount'] < 0">
      <mat-chip-list>
        <mat-chip color="warn" class="target-pending-chip" selected>
          <!--*ngIf="model[insideIndex]['transferPendingAmount'] < 0 "-->
          (-{{model[insideIndex]['transferPendingAmount'] | currency }}) Pending Transfer
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div [formGroup]="formAmount" class="meals-mobile-footer flex-row-gt-xs flex-column-xs flex-children-center">
    <div>

      <mat-form-field>
        <input matInput placeholder="Add Amount" title="{{'Enter amount for ' + account.firstName}}"
               formControlName="addAmountMobile"
               [(ngModel)]="formAmount['addAmountMobile']" />
      </mat-form-field>
      <div *ngIf="!formAmount.valid" class="form-inline-validation error">
        {{ formErrors['addAmountMobile']}}
      </div>
    </div>

    <div class="meals-footer-input">
      <div>
        <mat-form-field>
          <mat-select aria-label="Select Meal Plan"
                      placeholder="Select Meal Plan"
                      formControlName="mealSelectMobile"
                      [(ngModel)]="formAmount['mealSelectMobile']">
            <mat-option *ngFor="let item of categoryNames[outsideIndex]; let insideIndex = index;" value="{{item.categoryIndex}}">
              {{item.categoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="isMealPlanSelected" class="form-inline-validation error">
          Error:  {{ mealSelectedErrMsg}}
        </div>
      </div>
    </div>

    <button mat-raised-button color="primary"
            class="meals-footer-button" aria-label="Add to cart"
            (click)="addCartItem(formAmount['addAmountMobile'], outsideIndex, formAmount['mealSelectMobile'])">
      <span *ngIf="account['isAddCartAmountSaving']">
        <mat-spinner strokeWidth="1" diameter="25" *ngIf="account['isAddCartAmountSaving']">
          Loading..
        </mat-spinner>
      </span>
      <span *ngIf="!account['isAddCartAmountSaving']" class="add-cart-label">Add to Cart</span>
    </button>
  </div>
</div>
