<!--MOBILE-->
<div *ngIf="isMobile" class="top-nav">
  <a routerLink="/dashboard" routerLinkActive="active" class="link">Dashboard</a>
  <mat-icon class="nav-arrow">navigate_next</mat-icon>
  <a>AP Exams</a>
</div>
<div *ngIf="isMobile" class="exams-container">
  <div class="mat-headline flex-grow-1">
    AP Exams
    <mat-icon>insert_invitation</mat-icon>
    <span class="mat-caption" *ngIf="isGettingExams">
      Getting MPP AP exams
      <mat-spinner mode="indeterminate" strokeWidth="1" diameter="25">
        Loading...
      </mat-spinner>
    </span>
  </div>
  <div class="exams-available" *ngIf="hasExams">
    <mat-toolbar>
      Available Exams
    </mat-toolbar>
    <ul class="exams">
      <li class="incomplete">
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
          <mat-tab *ngFor="let student of examList.studentExamModels">
            <div *ngIf="student.examChoices.length === 0" class="message">
              No available exams for {{student.firstName}}
            </div>
            <ng-template mat-tab-label>
              <span>{{student.firstName}}</span>
            </ng-template>
            <div class="exams">
              <mat-accordion class="accordion">
                <mat-expansion-panel hideToggle [expanded]="step === j" (opened)="setStep(j)"
                  (click)="selectExam(exam, student)" *ngFor="let exam of student.examChoices, let j = index">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="mat-title">
                      <div class="name">
                        {{exam.examName}}
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="panel-body-exam-detail">
                    <a class="link info-exam-link" href="{{exam.termsLink}}" target="_blank">
                      Info about AP Exam</a>
                    <div>
                      <mat-checkbox [(ngModel)]="checked">
                        Please check here to agree to the terms and conditions linked above
                      </mat-checkbox>
                    </div>
                  </div>
                  <div class="exam-radio">
                    <b>Please choose an exam date and time:</b>
                  </div>
                  <mat-radio-group class="radio-group" (change)="selectExamTime($event, exam)">
                    <mat-radio-button value="{{time.examScheduleKey}}" *ngFor="let time of exam.schedule">
                      {{time.description}}</mat-radio-button>
                  </mat-radio-group>
                  <div class="accomadation-msg">
                    Do you need special accomadations based on an IEP or a 504 plan?
                  </div>
                  <mat-radio-group class="radio-group" (change)="selectSpecial($event)">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                  </mat-radio-group>
                  <mat-action-row class="action-row">
                    <button mat-raised-button color="primary" class="register-btn" [disabled]="!checked"
                      (click)="addExamToCart(exam, student, schedule)">
                      Register
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-tab>
        </mat-tab-group>
      </li>
    </ul>
  </div>
  <div class="exams-in-cart" *ngIf="showExamsInCart">
    <mat-toolbar>
      Exams in your cart
    </mat-toolbar>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let exam of examsInCart, let i = index">
        <div class="exams-cart">
          <div>
            <div>
              <b>{{exam.itemName}}</b>
            </div>
            <div>
              {{exam.examScheduleDescription}}
            </div>
            <div>
              {{exam.note}}
            </div>
            <div>
              <mat-chip-list>
                <mat-chip class="chip">
                  {{exam.studentName}}
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="exams-enrolled" *ngIf="showEnrolledExams">
    <mat-toolbar>
      Enrolled Exams
    </mat-toolbar>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let enrolledExam of enrolledExams, let i = index">
        <div>
          <div class="listitem">
            <div>
              <b>{{enrolledExam.examName}}</b>
            </div>
            <div>
              {{enrolledExam.examScheduleDescription}}
            </div>
            <div *ngIf="enrolledExam.termsLink !== null">
              {{enrolledExam.termsLink}}
            </div>
            <mat-chip-list>
              <mat-chip class="chip">
                {{enrolledExam.firstName}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<!--NOT MOBILE-->
<div class="page-container" *ngIf="!isMobile">
  <div class="exams-container">
    <div class="mat-headline flex-grow-1">
      AP Exams
      <mat-icon>announcement</mat-icon>
      <span class="mat-caption" *ngIf="isGettingExams">
        Getting MPP AP exams
        <mat-spinner mode="indeterminate" strokeWidth="1" diameter="25">
          Loading...
        </mat-spinner>
      </span>
    </div>
    <div>
      <mat-tab-group *ngIf="hasExams" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="{{student.firstName}}" *ngFor="let student of examList.studentExamModels, let i = index">
          <div *ngIf="student.examChoices.length === 0" class="message">
            No available exams for {{student.firstName}}
          </div>
          <div class="container">
            <div class="classes">
              <mat-list role="list">
                <mat-toolbar *ngIf="student.examChoices.length > 0">
                  Available Exams
                </mat-toolbar>
                <mat-list-item role="listitem" *ngFor="let exam of student.examChoices, let j = index">
                  <button mat-raised-button class="class-button" (click)="showExamDetails(j, student, exam)">
                    {{exam.examName}}
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
            <mat-card class="exam-details" *ngFor="let selected of selectedExam, let k = index">
              <mat-card-title>
                {{selected.examName}}
              </mat-card-title>
              <mat-card-content>
                <div>
                  <a class="link" href="{{selected.termsLink}}" target="_blank">
                    Info about AP Exam</a>
                  <div>
                    <mat-checkbox [(ngModel)]="checked">Please check here to agree to the terms and conditions linked
                      above</mat-checkbox>
                  </div>
                </div>
                <div class="exam-radio">
                  <b>Please choose an exam date and time:</b>
                </div>
                <mat-radio-group class="radio-group" (change)="selectExamTime($event, selected)">
                  <mat-radio-button value="{{choice.examScheduleKey}}"
                    *ngFor="let choice of selected.schedule, let l = index">{{choice.description}}</mat-radio-button>
                </mat-radio-group>
                <div class="accomadation-msg">
                  Do you need special accomadations based on an IEP or a 504 plan?
                </div>
                <mat-radio-group class="radio-group-desktop" (change)="selectSpecial($event)">
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
                <mat-action-row class="action-row">
                  <button mat-raised-button color="primary" class="register-btn" [disabled]="!checked"
                    (click)="addExamToCart(selected, student, schedule)">
                    Register
                  </button>
                </mat-action-row>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="exams-in-cart" *ngIf="showExamsInCart">
        <mat-toolbar>
          Exams in your cart
        </mat-toolbar>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let exam of examsInCart, let i = index">
            <div class="exams-cart">
              <div>
                <b>{{exam.itemName}}</b>
              </div>
              <div>
                {{exam.examScheduleDescription}}
              </div>
              <div>
                {{exam.note}}
              </div>
              <mat-chip-list>
                <mat-chip class="chip">
                  {{exam.studentName}}
                </mat-chip>
              </mat-chip-list>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="exams-enrolled" *ngIf="showEnrolledExams">
        <mat-toolbar>
          Enrolled Exams
        </mat-toolbar>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let enrolledExam of enrolledExams, let i = index">
            <div>
              <div class="listitem">
                <div>
                  <b>{{enrolledExam.examName}}</b>
                </div>
                <div>
                  {{enrolledExam.examScheduleDescription}}
                </div>
                <div *ngIf="enrolledExam.termsLink !== null">
                  {{enrolledExam.termsLink}}
                </div>
                <mat-chip-list>
                  <mat-chip class="chip">
                    {{enrolledExam.firstName}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>