<mat-card-title>
    <div class="mat-headline">Change Password</div>
</mat-card-title>
<mat-card-content>
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" novalidate class="form-horizontal">
    <popover-password-validator #passwordValidator></popover-password-validator>
    <div class="input-container">
      <mat-form-field class="width-100">
        <input matInput
               [(ngModel)]="changeDetail.newPassword"
               (focus)="passwordValidator.show()"
               (blur)="passwordValidator.hide()"
               (ngModelChange)="passwordValidator.change($event)"
               placeholder="New Password"
               type="password"
               formControlName="newPassword"
               required />
      </mat-form-field>
      <div *ngIf="formErrors.newPassword" class="form-inline-validation error">
        {{ formErrors.newPassword }}
      </div>
    </div>

    <div class="input-container">
      <mat-form-field class="width-100">
        <input matInput
               (focus)="passwordOnFocus()"
               (blur)="passwordOnBlur()"
               placeholder="Confirm Password"
               formControlName="confirmPassword"
               type="password"
               aria-label="Confirm Password"
               class="form-field width-100"
               required />
      </mat-form-field>
      <div *ngIf="formErrors.confirmPassword" class="form-inline-validation error">
        {{ formErrors.confirmPassword }}
      </div>
    </div>
    <br /><br />
    <div class="text-right">
      <button mat-raised-button color="primary" aria-label="Save" type="submit">Save</button>
    </div>
  </form>
  <div *ngIf="resetSuccesful"><p class="note note-success"><span class="note-title">Your Password Has Successfully Been Reset</span></p></div>
  <div *ngIf="resetFailed"><p class="note error"><span class="note-title">Your Password Reset Failed</span></p></div>
</mat-card-content>
