<mat-card-title>
    <div class="mat-headline">Forgot Password?</div>
</mat-card-title>
<mat-card-content>
    <p *ngIf="showSuccessMessage" class="note note-success">
        <i class="material-icons mat-dark float-right mat-18 cursor-pointer note-close notranslate" (click)="showSuccessMessage = false">close</i>
        <span class="note-title">Successfully sent email</span>
        We have received your password reset request. <br /> An email will be sent to you with instructions for resetting your password.
    </p>
    <div>Enter the email associated with your MyPaymentsPlus account.</div>
    <p>An email will be sent to you with instructions for resetting your password.</p>
    <form [formGroup]="requestPasswordChangeForm" (ngSubmit)="requestPasswordReset()" novalidate class="form-horizontal">
        <div class="input-container">
            <mat-form-field class="width-100">
                <input matInput placeholder="Email Address" autofocus (keyup.enter)="requestPasswordReset()" [(ngModel)]="requestDetail.resetEmail" formControlName="resetEmail" aria-label="Email Address" class="width-100" required/>
            </mat-form-field>
            <div *ngIf="formErrors.resetEmail" class="form-inline-validation error">
                {{ formErrors.resetEmail }}
            </div>
        </div>
        <br /><br />
        <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" [site_key]="RecaptchaKey"></re-captcha>
        <div *ngIf="showRecaptchaMessage && this.requestDetail.recaptchatoken ===''" class="form-inline-validation error">
            Please confirm you are not a robot.
        </div>
        <br /><br />
        <div class="text-right">
            <button mat-raised-button color="primary" type="submit" [disabled]="sendingEmail" aria-label="Request Password Change">
                <span *ngIf="!sendingEmail">Request Password Change</span>
                <mat-spinner strokeWidth="1" diameter="25" *ngIf="sendingEmail" class="spinner-button spinner-button-center">Loading..</mat-spinner>
            </button>
        </div>
    </form>
</mat-card-content>
<toaster-container></toaster-container>
