#reset-password-card {
    min-width: 500px;
}

#container-content {
    align-self: center;
    margin: auto;
}

@media(max-width: 599px){
    #reset-password-card {
        min-width: inherit;
    }

}

@media(max-height: 599px){
    #container-content {
        align-self: center;
        margin: 64px auto auto auto;
    }

}