<div class="close-btn-conatiner">
  <button mat-icon-button class="close-btn"><mat-icon (click)="onNoClick()">close</mat-icon></button>
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Cheesesteak Flatbread</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
      <div class="left">
        <img class="picture" src="https://client-food-images.nutrislice.com/images/jT/jT6R87RwGwC7vdHPvUijrF/1474287000_878937__DSC_7053.jpg.1024x0_q85.jpg" />
        <div class="allergen-container">
          <img src="https://img.icons8.com/color/48/000000/wheat.png">
          <img src="https://img.icons8.com/color/48/000000/soy.png">
          <img src="https://img.icons8.com/color/48/000000/milk-bottle.png">
        </div>
      </div>
      <div class="right">
        <div class="value">
          <b>Serving Size:</b> 1 serving
        </div>
        <div class="value">
          <b>Calories:</b> 446
        </div>
        <div class="value">
          <b>Total Fat:</b> 22 g
        </div>
        <div>Saturated Fat: 9 g</div>
        <div>Trans Fat: 0.80 g</div>
        <div class="value">
          <b>Cholesterol:</b>  84 mg
        </div>
        <div class="value">
          <b>Sodium:</b> 1057 mg
        </div>
        <div class="value">
          <b>Total Carbs:</b> 34 g
        </div>
        <div>Dietary Fiber: 3 g</div>
        <div>Sugar: 6 g</div>
        <div class="value">
          <b>Protein:</b> 30 g
        </div>
        <div class="value">
          <b>Vitamin A:</b>367 IU
        </div>
        <div class="value">
          <b>Calcium:</b> 247 mg
        </div>
        <div class="value">
          <b>Iron:</b> 4 mg
        </div>
        <div class="value">
          <b>Vitamin C:</b> 11.10 mg
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>BBQ Pork Sandwich</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
      <div class="left">
        <img class="picture" src="https://client-food-images.nutrislice.com/images/DU/DUJE6qQnium7yGGkCFToQS/1474293270_361911__DSC_6959.jpg.1024x0_q85.jpg" />
        <div class="allergen-container">
          <img src="https://img.icons8.com/color/48/000000/soy.png">
          <img src="https://img.icons8.com/color/48/000000/wheat.png">
        </div>
      </div>
      <div class="right">
        <div class="value">
          <b>Serving Size:</b> 1 serving
        </div>
        <div class="value">
          <b>Calories:</b> 450
        </div>
        <div class="value">
          <b>Total Fat:</b> 19 g
        </div>
        <div>Saturated Fat: 6 g</div>
        <div>Trans Fat: 0 g</div>
        <div class="value">
          <b>Cholesterol:</b>  71 mg
        </div>
        <div class="value">
          <b>Sodium:</b> 280 mg
        </div>
        <div class="value">
          <b>Total Carbs:</b> 46 g
        </div>
        <div>Dietary Fiber: 3 g</div>
        <div>Sugar: 21 g</div>
        <div class="value">
          <b>Protein:</b> 23 g
        </div>
        <div class="value">
          <b>Vitamin A:</b>1656 IU
        </div>
        <div class="value">
          <b>Calcium:</b> 180 mg
        </div>
        <div class="value">
          <b>Iron:</b> 4.50 mg
        </div>
        <div class="value">
          <b>Vitamin C:</b> 25.30 mg
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Cheese Pizza</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
      <div class="left">
        <img class="picture" src="https://client-food-images.nutrislice.com/images/DU/DUJE6qQnium7yGGkCFToQS/1474293270_361911__DSC_6959.jpg.1024x0_q85.jpg" />
        <div class="allergen-container">
          <img src="https://img.icons8.com/color/48/000000/soy.png">
          <img src="https://img.icons8.com/color/48/000000/wheat.png">
        </div>
      </div>
      <div class="right">
        <div class="value">
          <b>Serving Size:</b> 1 serving
        </div>
        <div class="value">
          <b>Calories:</b> 450
        </div>
        <div class="value">
          <b>Total Fat:</b> 19 g
        </div>
        <div>Saturated Fat: 6 g</div>
        <div>Trans Fat: 0 g</div>
        <div class="value">
          <b>Cholesterol:</b>  71 mg
        </div>
        <div class="value">
          <b>Sodium:</b> 280 mg
        </div>
        <div class="value">
          <b>Total Carbs:</b> 46 g
        </div>
        <div>Dietary Fiber: 3 g</div>
        <div>Sugar: 21 g</div>
        <div class="value">
          <b>Protein:</b> 23 g
        </div>
        <div class="value">
          <b>Vitamin A:</b>1656 IU
        </div>
        <div class="value">
          <b>Calcium:</b> 180 mg
        </div>
        <div class="value">
          <b>Iron:</b> 4.50 mg
        </div>
        <div class="value">
          <b>Vitamin C:</b> 25.30 mg
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>PB&J</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
      <div class="left">
        <img class="picture" src="https://client-food-images.nutrislice.com/images/DU/DUJE6qQnium7yGGkCFToQS/1474293270_361911__DSC_6959.jpg.1024x0_q85.jpg" />
        <div class="allergen-container">
          <img src="https://img.icons8.com/color/48/000000/soy.png">
          <img src="https://img.icons8.com/color/48/000000/wheat.png">
        </div>
      </div>
      <div class="right">
        <div class="value">
          <b>Serving Size:</b> 1 serving
        </div>
        <div class="value">
          <b>Calories:</b> 450
        </div>
        <div class="value">
          <b>Total Fat:</b> 19 g
        </div>
        <div>Saturated Fat: 6 g</div>
        <div>Trans Fat: 0 g</div>
        <div class="value">
          <b>Cholesterol:</b>  71 mg
        </div>
        <div class="value">
          <b>Sodium:</b> 280 mg
        </div>
        <div class="value">
          <b>Total Carbs:</b> 46 g
        </div>
        <div>Dietary Fiber: 3 g</div>
        <div>Sugar: 21 g</div>
        <div class="value">
          <b>Protein:</b> 23 g
        </div>
        <div class="value">
          <b>Vitamin A:</b>1656 IU
        </div>
        <div class="value">
          <b>Calcium:</b> 180 mg
        </div>
        <div class="value">
          <b>Iron:</b> 4.50 mg
        </div>
        <div class="value">
          <b>Vitamin C:</b> 25.30 mg
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Buffalo Chicken Tender Salad</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
      <div class="left">
        <img class="picture" src="https://client-food-images.nutrislice.com/images/DU/DUJE6qQnium7yGGkCFToQS/1474293270_361911__DSC_6959.jpg.1024x0_q85.jpg" />
        <div class="allergen-container">
          <img src="https://img.icons8.com/color/48/000000/soy.png">
          <img src="https://img.icons8.com/color/48/000000/wheat.png">
        </div>
      </div>
      <div class="right">
        <div class="value">
          <b>Serving Size:</b> 1 serving
        </div>
        <div class="value">
          <b>Calories:</b> 450
        </div>
        <div class="value">
          <b>Total Fat:</b> 19 g
        </div>
        <div>Saturated Fat: 6 g</div>
        <div>Trans Fat: 0 g</div>
        <div class="value">
          <b>Cholesterol:</b>  71 mg
        </div>
        <div class="value">
          <b>Sodium:</b> 280 mg
        </div>
        <div class="value">
          <b>Total Carbs:</b> 46 g
        </div>
        <div>Dietary Fiber: 3 g</div>
        <div>Sugar: 21 g</div>
        <div class="value">
          <b>Protein:</b> 23 g
        </div>
        <div class="value">
          <b>Vitamin A:</b>1656 IU
        </div>
        <div class="value">
          <b>Calcium:</b> 180 mg
        </div>
        <div class="value">
          <b>Iron:</b> 4.50 mg
        </div>
        <div class="value">
          <b>Vitamin C:</b> 25.30 mg
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

