<mat-card-title>
    <div class="mat-headline" aria-label="About MyPaymentPlus">About MyPaymentsPlus</div>
</mat-card-title>
<mat-card-content id="supplemental-about">
    MyPaymentsPlus provides an easy-to-use, efficient way to make payments quickly and securely anytime using a simple Internet connection. You can say goodbye to the hassles of sending in multiple checks to multiple locations for multiple students. It can all be done with one payment on MyPaymentsPlus. MyPaymentsPlus also allows the ability to receive free low balance emails and, in most cases, view the purchases made in the cafeteria online.
    <br /><br />
    <a href="https://www.horizonsoftware.com/" target="_blank" class="link">Horizon Software International, LLC</a> is a global leader in software, services and technologies for food service operations. With more than 15,000 installations worldwide, Horizon has a solution for any food service entity including healthcare, colleges, retirement communities and K–12 schools.
    <br /><br />
    Horizon’s innovative products have won awards and been heralded in over 700 national and world media outlets including Good Morning America, Fox News, CNN and a host of others.
    <br /><br />
    MyPaymentsPlus and Horizon are committed to your satisfaction.
    <br /><br /><br /><br />
    <div class="mat-title">Security &amp; Compliance</div><br />
    <div class="flex-row-gt-xs flex-column-xs supplemental-security">
        <span class="supplemental-security-graphic">
            <img src="https://d378j9fzthecv.cloudfront.net/v1_0_1/Images/pci-compliance-badge.jpg" alt="PCI Compliance Badge" arial-label="PCI Compliance Badge" />
        </span>
        <span class="flex-self-center flex-row flex-children-center">
            <i class="material-icons notranslate">check</i>&nbsp;&nbsp;<span>PCI Compliant and SOC-1 Audited</span>
        </span>
    </div>
    <div class="flex-row-gt-xs flex-column-xs supplemental-security">
        <span id="siteseal" class="supplemental-security-graphic">
            <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=Tgo4jZ6WYpS9I07F7JFBFjArAJhxRItOGJstllyZXff07g2IUtv"></script>
            <a href="https://seal.godaddy.com/verifySeal?sealID=Tgo4jZ6WYpS9I07F7JFBFjArAJhxRItOGJstllyZXff07g2IUtv" target="_blank" class="link-clearwrapper"><img class="cursor-pointer" src="https://seal.godaddy.com/images/3/en/siteseal_gd_3_h_l_m.gif" alt="SSL site seal" arial-label="SSL site seal"></a>
        </span>
        <span class="flex-self-center flex-row flex-children-center">
            <i class="material-icons notranslate">check</i>&nbsp;&nbsp;<span>Secure website and payment transactions</span>
        </span>
    </div>
    <div class="flex-row-gt-xs flex-column-xs supplemental-security">
        <span class="supplemental-security-graphic">
            <img src="../../assets/images/schellman-logo.png" alt="Schellman's logo" />
        </span>
        <span class="flex-self-center flex-row flex-children-center">
            <i class="material-icons notranslate">check</i>&nbsp;&nbsp;<span>Provides quality, safety, and integrity above all else</span>
        </span>
    </div>
</mat-card-content>
