<popover *ngIf="showPopover">
    <div [ngClass]="{'password-criteria-valid': lengthValid}" class="password-criteria flex-row flex-children-center">
        <span class="password-check"><i class="material-icons mat-18 notranslate" *ngIf="lengthValid">check</i></span>Must be at least 7 characters
    </div>
    <div [ngClass]="{'password-criteria-valid': containsNumber}" class="password-criteria flex-row flex-children-center">
        <span class="password-check"><i class="material-icons mat-18 notranslate" *ngIf="containsNumber">check</i></span>Must contain at least 1 number
    </div>
    <div [ngClass]="{'password-criteria-valid': containsLetter}" class="password-criteria flex-row flex-children-center">
        <span class="password-check"><i class="material-icons mat-18 notranslate" *ngIf="containsLetter">check</i></span>Must contain at least 1 letter
    </div>
</popover>
