<div class="error-page flex-row">
  <div class="flex-row flex-align-center">
    <section class="padding-20 error-page-content">
      <div class="mat-display-2">
        Oops!
      </div>
      <div><b>404</b> - We can't seem to find the page you're looking for.</div>
      <br />
      Things to try:
      <ul>
        <li>Check that the URL you entered is correct.</li>
        <li>Navigate to <a href="/dashboard">MyPaymentsPlus</a> home page</li>        
      </ul>
    </section>
    <section class="padding-20 show-gt-sm hide-sm hide-xs">
      <img alt="Page not found" src="../../../../assets/images/page-not-found.png" />
    </section>
  </div>
</div>
