<div *ngIf="askPrevious" class="askPrevious">
  <div class="question">
    Load Previous Responses?
  </div>
  <div class="answer">
    <button mat-raised-button (click)="populateFields('yes')" class="yes-btn">Yes</button>
    <button mat-raised-button (click)="populateFields('no')" class="no-btn">No</button>
  </div>
  <div class="cancel-text">
    Or
  </div>
  <div class="cancel-btn-cont">
    <button mat-raised-button (click)="onNoClick()" class="cancel-btn">Cancel Edit</button>
  </div>
</div>

<div *ngIf="!askPrevious && isLoading">
  Your Forms are being loaded...
</div>

<mat-tab-group *ngIf="!askPrevious && !isLoading"
               [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)"
               [formGroup]="builtFormGroup">
  <mat-tab label="{{i + 1}} of {{builtFormGroup.controls.formTabs.controls.length}}" *ngFor="let submission of submissions, let i = index " formArrayName="formTabs">
    <div class="tab">
      <div *ngIf="!data.form.isMultipleSubmission" class="addMessage">
        The Activity you have chosen requires that you fill out the form below and click "Save" to add to your cart.
      </div>
      <div *ngIf="data.form.isMultipleSubmission" class="addMessage">
        The Activity you have chosen requires that you fill out the form below and click "Save" to add to your cart. For multiple responses click the "Next" button after completing each form. Click "Save" on your final response.
      </div>
      <div *ngFor="let field of data.form.fields, let j = index" formGroupName="{{i}}">
        <div *ngIf="field.fieldType === 1 && field.isRequired">
          <mat-form-field class="text">
            {{field.prompt}}
            <textarea id="{{j}}" formControlName="{{j}}" matInput placeholder="" required ></textarea>
            <mat-hint *ngIf="field.toolTip">{{field.toolTip}}</mat-hint>
          </mat-form-field>
        </div>
        <div *ngIf="field.fieldType === 1 && !field.isRequired">
          <mat-form-field class="text">
            {{field.prompt}}
            <textarea id="{{j}}" formControlName="{{j}}" matInput type="text" placeholder=""></textarea>
            <mat-hint *ngIf="field.toolTip">{{field.toolTip}}</mat-hint>
          </mat-form-field>
        </div>
        <div *ngIf="field.fieldType === 2 && field.isRequired">
          <mat-form-field class="date">
            {{field.prompt}}
            <input id="{{j}}" formControlName="{{j}}" matInput type="date" placeholder="{{field.prompt}}" required>
            <mat-hint *ngIf="field.toolTip">{{field.toolTip}}</mat-hint>
          </mat-form-field>
        </div>
        <div *ngIf="field.fieldType === 2 && !field.isRequired">
          <mat-form-field class="date">
            {{field.prompt}}
            <input id="{{j}}" formControlName="{{j}}" matInput type="date" placeholder="">
            <mat-hint *ngIf="field.toolTip">{{field.toolTip}}</mat-hint>
          </mat-form-field>
        </div>
        <div class="checkboxWrapper" *ngIf="field.fieldType === 3 && field.isRequired">
          {{field.prompt}}
          <mat-selection-list class="checkbox" #checkbox (selectionChange)="showOptions($event, checkbox.selectedOptions, field.formFieldId)" id="{{j}}" formControlName="{{j}}" required>
            <mat-list-option checkboxPosition="before" *ngFor="let choice of field.choices, let k = index"
                             [value]="choice.value">
              {{choice.display}}
            </mat-list-option>
            <mat-hint *ngIf="field.toolTip">{{field.toolTip}}</mat-hint>
          </mat-selection-list>
        </div>
        <div class="checkboxWrapper" *ngIf="field.fieldType === 3 && !field.isRequired">
          {{field.prompt}}
          <mat-selection-list class="checkbox" #checkbox (selectionChange)="showOptions($event, checkbox.selectedOptions, field.formFieldId)" id="{{j}}" formControlName="{{j}}">
            <mat-list-option checkboxPosition="before" *ngFor="let choice of field.choices, let k = index" [value]="choice.value">
              {{choice.display}}
            </mat-list-option>
            <mat-hint *ngIf="field.toolTip" class="hint">{{field.toolTip}}</mat-hint>
          </mat-selection-list>
        </div>
        <div *ngIf="field.fieldType === 4 && field.isRequired" class="radio">
          {{field.prompt}}
          <mat-radio-group id="{{j}}" formControlName="{{j}}" (change)="onChange($event, field)" class="radio-option" required>
            <mat-radio-button *ngFor="let choice of field.choices, let k = index" [value]="choice.value">
              {{choice.display}}
            </mat-radio-button>
          </mat-radio-group>
          <mat-hint *ngIf="field.toolTip" class="hint">{{field.toolTip}}</mat-hint>
        </div>
        <div *ngIf="field.fieldType === 4 && !field.isRequired" class="radio">
          {{field.prompt}}
          <mat-radio-group id="{{j}}" formControlName="{{j}}" (change)="onChange($event, field)" class="radio-option">
            <mat-radio-button *ngFor="let choice of field.choices, let k = index" [value]="choice.value">
              {{choice.display}}
            </mat-radio-button>
          </mat-radio-group>
          <mat-hint *ngIf="field.toolTip" class="hint">{{field.toolTip}}</mat-hint>
        </div>
        <div *ngIf="field.fieldType === 5">
          <div innerHTML="{{field.fieldTextArea}}"></div>
        </div>
        <div *ngIf="field.fieldType === 6 && field.isRequired" class="signature-wrapper">
          <mat-form-field class="signature">
            {{field.prompt}}
            <input id="{{j}}" formControlName="{{j}}" matInput type="text" placeholder="" required>
            <mat-hint *ngIf="field.toolTip">{{field.toolTip}}</mat-hint>
          </mat-form-field>

        </div>
        <div *ngIf="field.fieldType === 6 && !field.isRequired" class="signature-wrapper">
          <mat-form-field class="signature">
            {{field.prompt}}
            <input id="{{j}}" formControlName="{{j}}" matInput type="text" placeholder="">
            <mat-hint *ngIf="field.toolTip">{{field.toolTip}}</mat-hint>
          </mat-form-field>
        </div>
        <div *ngIf="field.fieldType === 7" class="system">
          <div *ngFor="let choice of field.choices">
            {{choice.display}} : {{choice.value}}
          </div>
        </div>
      </div>
    </div>
    <div class="submit-btn-container" *ngIf="!mobile">
      <button mat-raised-button *ngIf="!data.form.isMultipleSubmission" class="submit-btn-save" (click)="addToCart()">Save</button>
      <button mat-raised-button *ngIf="data.form.isMultipleSubmission && !data.isQuantity && data.quantity === 1" (click)="addNewForm()" class="submit-btn-add">Add</button>
      <button mat-raised-button *ngIf="data.form.isMultipleSubmission && data.quantity - 1 === selected.value" (click)="addToCart()" class="submit-btn-save" [mat-dialog-close]="data">Save</button>
      <button mat-raised-button *ngIf="data.form.isMultipleSubmission  && data.quantity - 1 !== selected.value" (click)="next(i)" class="submit-btn-save">Next</button>
      <button mat-raised-button *ngIf="data.form.isMultipleSubmission && submissions.length > 1" (click)="removeForm(i)" class="submit-btn-remove">Remove</button>
      <!--<button mat-raised-button *ngIf="data.form.isMultipleSubmission && submissions.length === 1" (click)="onNoClick()" class="submit-btn-remove">Remove</button>-->
      <button mat-raised-button (click)="onNoClick()" class="cancel-btn-form">Cancel</button>
    </div>
    <div class="submit-btn-container" *ngIf="mobile">
      <button mat-fab *ngIf="!data.form.isMultipleSubmission" class="submit-btn-save" (click)="addToCart()">Save</button>
      <button mat-fab *ngIf="data.form.isMultipleSubmission && !data.isQuantity && data.quantity === 1" (click)="addNewForm()" class="submit-btn-add">Add</button>
      <button mat-fab *ngIf="data.form.isMultipleSubmission && data.quantity - 1 === selected.value" (click)="addToCart()" class="submit-btn-save" [mat-dialog-close]="data">Save</button>
      <button mat-fab *ngIf="data.form.isMultipleSubmission  && data.quantity - 1 !== selected.value" (click)="next(i)" class="submit-btn-save">Next</button>
      <button mat-fab *ngIf="data.form.isMultipleSubmission && submissions.length > 1" (click)="removeForm(i)" class="submit-btn-remove">Remove</button>
      <!--<button mat-fab *ngIf="data.form.isMultipleSubmission && submissions.length === 1" (click)="onNoClick()" class="submit-btn-remove">Remove</button>-->
      <button mat-fab (click)="onNoClick()" class="cancel-btn-form">Cancel</button>
    </div>
  </mat-tab>
</mat-tab-group>

