#myaccount-container {
  width: 100%;
  flex-grow: 1;

  .view-menu-tiles {
        font-size: 14px;
  }
}

.image{
 height: 35px;
 width: 35px !important;
}

.option-text{
  color: #3883d0;
}

.bg-lightgray{
  margin: 6.5px 6.5px 6.5px 6.5px;
}

.sidenav-grid-list .sidenav-grid-option .option-text {
  width: 100%;
  font-size: 14px;
  margin-bottom: 25px;
  white-space: normal;
  line-height: 1em;
}

.sidenav-grid-list .sidenav-grid-option {
  padding: 0px;
  color: rgba(0, 0, 0, 0.64);
  font-size: 16px;
  border-radius: 0;
  border: 1px solid #e0e0e0;
}

.mat-button{
  font-weight: unset !important;
}

#sidenav-module-layout {
  min-height: 88.25vh;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.top-nav {
  display: flex;
  padding: 6px;
  margin-top: 23px;

  .nav-arrow{
    margin-top: -2px;
  }
}

@media (min-width:200px) and (max-width:800px){
  .top-nav {
    display: flex;
    padding: 6px;
    margin-top: 6px;
  }

  .sidenav-dark.mat-sidenav {
   background-color: unset !important;
    color: lightgray;
}
}


@media(max-width: 959px) {
  #myaccount-container {
    padding: 0px;
  }

  .footer-list {
    padding: 0;
  }
}

.flex-row {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.display-none() {
  display: none !important;
}

@media(min-width:1920px) {
  .hide-lg {
    .display-none();
  }
}

.icon-width {
  width: 24px;
}
