.mat-title{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 16px;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-group{
    display: flex;
    flex-flow: column;
}

.name{
    font-size: medium;
}

.mat-expansion-panel-header {
    height: unset !important;
}

.check {
    color: rgba(76,175,80,1);
  }

.doc-title{
    display: flex;
    flex-flow:column;
    justify-content: space-between;
}

.required{
    color: red;
    font-size: small;
  }

.action-row{
        align-items: center !important;
        display: flex;
        justify-content: space-between;
}

@media all and (max-width: 750px){
    .orientation-title{
        padding-top: 10px;
    }

.orientation-description{
    padding-bottom: 10px;
    padding-top: 10px;
}

.checkbox{
    min-width:90px;
}

.name{
    font-size: medium;
    line-height: 15px;
}
}
