<mat-card id="background" class="card-spacing mat-elevation-z3">

    <mat-card-title class="bonus-title">
      Meals Bonus!
    </mat-card-title>
    <mat-card-subtitle class="text-right bonus-subtitle">
      Get Rewards!
    </mat-card-subtitle>
    <mat-card-content>
      <div class="bonus-msg text-right">
        Spend More Save More
      </div>
      <div class="btn-container">
        <button mat-raised-button class="bonus-btn" (click)="showBonusAdDialog()">See More Ways to Save</button>
      </div>
    </mat-card-content>
</mat-card>
